<%- layout("/layouts/boilerplate.ejs") %>
<body class="bg-light" style="background-color: white">
  <div class="container py-5">
    <div class="card mb-4 shadow">
      <div
        class="card-header bg-primary text-white"
        style="background-color: #ff385de0 !important"
      >
        <h4 class="mb-0">Student Information</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-center">
            <thead class="table-secondary">
              <tr>
                <th>Student ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1325</td>
                <td>Md. Zubair Rahman</td>
              </tr>
              <tr>
                <td>1321</td>
                <td>Mahadi Hasan Rakib</td>
              </tr>
              <tr>
                <td>1317</td>
                <td>Ashraful Alom Chowdhury</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <div
        class="card-header bg-success text-white"
        style="background-color: #ff385de0 !important"
      >
        <h4 class="mb-0">Course Teacher Information</h4>
      </div>
      <div class="card-body">
        <p><strong>Name:</strong> Ms. Samia Nawshin</p>
        <p><strong>Designation:</strong> Assistant Professor</p>
        <p>
          <strong>Department:</strong> Department of Computer Science and
          Engineering
        </p>
        <p>
          <strong>Faculty:</strong> Faculty of Science and Information
          Technology
        </p>
        <p><strong>Daffodil International University</strong></p>
      </div>
    </div>
  </div>
</body>
